@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

:root{
    --corFundo: rgba(0, 0, 0, 0.753);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Oswald',sans-serif;
    font-weight: 300;
}

html,body{
    height: 100%;
    background: var(--corFundo);
}